In [1]:
import pandas as pd

In [2]:
NANS = [
    "nan",
    "NA",
    '',
    ' # N/A',
    '#N/A N/A',
    '#NA',
    '-1.#IND',
    '-1.#QNAN',
    '-NaN',
    '-nan',
    '1.#IND',
    '1.#QNAN',
    '<NA>',
    'N/A',
    'NA',
    'NULL',
    'NaN',
    'n/a',
    'nan',
    'null',
    '#DIV/0!',
    "unknown",
    "Unknown"
]

In [3]:
raw_data = pd.read_csv("../data/NewEnglandFinal.txt", na_values=NANS, keep_default_na=True, sep=None)

In [7]:
data = raw_data.iloc[:, 8:19]

In [5]:
data_all = data.dropna()

In [7]:
raw_data["Final_Status"].value_counts()

Native        778
Introduced     74
Name: Final_Status, dtype: int64

In [16]:
cond = data_all.isin(raw_data)
test = raw_data.iloc[cond.index]

In [22]:
huh = test["Final_Status"].value_counts()

In [19]:
lookup = raw_data[raw_data["Final_Status"] == "Introduced"]

In [20]:
lookup.dropna()["Final_Status"].value_counts()

Introduced    17
Name: Final_Status, dtype: int64

In [21]:
data_all.index

Int64Index([   0,    2,    3,    6,   10,   11,   12,   14,   22,   23,
            ...
            1441, 1445, 1448, 1449, 1450, 1451, 1452, 1453, 1465, 1468],
           dtype='int64', length=502)